{% spaceless %}
<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<title>{{title}}</title>
		{% block css %}
			<link rel="stylesheet" href="{{assets}}css/foundation.css" >
			<script src="{{assets}}js/modernizr.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="row">
			<div class="large-3 columns">
				<h1><img src="http://placehold.it/400x100&amp;text=Logo" alt="bla" ></h1>
			</div>
			<div class="large-9 columns">
				<ul class="right button-group">
					<li><a href="{{baseurl}}" class="button">Home</a></li>
					<li><a href="{{baseurl}}summoner/" class="button">Live Game</a></li>
					<li><a href="#" class="button">Link 3</a></li>
					<li><a href="#" class="button">Link 4</a></li>
				</ul>
			</div>
		</div>

		<!-- End Header and Nav -->

		{% block content %}
	    {% endblock %}

		<!-- Footer -->

		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>&copy; Copyright tous pourris Corporate.</p>
					</div>
					<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Link 2</a></li>
							<li><a href="#">Link 3</a></li>
							<li><a href="#">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div> 
		</footer>

		{% block javascript %}
			<script src="{{assets}}js/jquery.js"></script>
			<script src="{{assets}}js/foundation.min.js"></script>
			<script>
				$(document).foundation();
			</script>
		{% endblock %}
	</body>
</html>
{% endspaceless %}